---
Language: Cpp
# Usamos LLVM de base porque es el que mejor respeta la "escalera"
BasedOnStyle: LLVM

# --- TUS PREFERENCIAS (1 al 7) ---

# 1. Espacios: 4 (Para que no se vea apretado y funcione la escalera)
IndentWidth: 4
TabWidth: 4
UseTab: Never

# 2. Llaves: Estilo LINUX 
# (Abajo en funciones/clases, Pegado en if/while)
BreakBeforeBraces: Linux

# 3. Clases: ESCALERA VISUAL (-2)
# Class (0) -> Public (2) -> Int (4). Se ve increíble con 4 espacios.
AccessModifierOffset: -2

# 4. Punteros: DERECHA (int *x)
PointerAlignment: Right

# 5. Funciones cortas: PERMITIR (en una línea)
AllowShortFunctionsOnASingleLine: All

# 6. Switch: INDENTADO
IndentCaseLabels: true

# --- Extras de limpieza ---
NamespaceIndentation: None
SortIncludes: true
...
